@keyframes animate_1{
    0%{
        margin-top: 0px;
        margin-left: 0px;
    }

    50% {
        margin-top: 0px;
        margin-left: 500px;
    }

    100% {
        margin-top: 200px;
        margin-left: 500px;
    }
}

.container {
    width: 800px;
    height: 700px;
    border: solid 15px;
    margin: auto;
}

.ball{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    border-bottom: solid 10px black;
    border-top: solid 10px blue;
    animation-name: animate_1;
    animation-duration: 4s;
    /* animation-iteration-count: 3; */
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.container-1{
    width: 95%;
    border: solid 4px gray;
    margin: 10px auto;
    min-height: 700px;
}

header, footer {
    height: 100px;
    width: 100%;
    background-color: aqua;
}

.content{
    min-height: 700px;
    padding: 0 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item1{
    width: 59.5%;
    background-color: blueviolet;
    min-height: 400px;
}

.item2{
    width: 39%;
    background-color: rgb(124, 198, 28);
    min-height: 400px;
}

.item3{
    width: 48%;
    background-color: rgb(223, 33, 147);
    min-height: 400px;
    margin-top: 20px;
}


