.table-1{
    border: solid 1px black;
    border-collapse: collapse;
    width: 900px;
    height: 450px;

    td{
        border: solid 1px black;
    }

    .blue{
        background-color: blue;
    }
}