body{
    background-image: url(bg-img-2.jpg);
    background-color: aquamarine;
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
}

.container{
    font-size: 1.5em;
    margin: 50px 200px 0px 200px;
    text-indent: 30px;
}

.container div{
    margin-bottom: 12px;
}

.div-1{
    overflow: hidden;
}

.img-1{
    width: 500px;
    float: left;
    margin-right: 20px;
}

.img-2{
    width: 500px;
    margin-right: 20px;
}

.div-2{
    overflow: hidden;
}

.div-2 div {
   float: left;
   /* border: solid 1px green; */
}

.div-2 div:first-child{
    width: 33%;
}

.div-2 div:nth-child(2){
    width: 33%;
    text-align: center;
}

.div-2 div:last-child{
    width: 33%;
}